:root {
    --primary-color: #f13a11;
    --white-color: #ffffff;
    --dark-color: #171819;
    --about-bg-color: #f9f9f9;

    --gray-color: #909090;
    --link-color: #404040;
    --p-color: #666262;

    --base-font-family: 'Plain', sans-serif;
    --font-weight-bold: bold;
    --font-weight-normal: normal;
    --font-weight-light: 300;
    --font-weight-thin: 100;

    --h1-font-size: 48px;
    --h2-font-size: 30px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 22px;
    --h6-font-size: 16px;
    --p-font-size: 12px;
    --base-font-size: 16px;
    --menu-font-size: 14px;

    --border-radius-large: 100%;
    --border-radius-small: 2px;
}


body {
    overflow-x: hidden;
}


.fondo {
    background-color: #171819;
}

.nav-link {
    color: white;
}

.canvas {
    width: 100%;
    height: 100vh;
}

.bg-transparent {
    background-color: transparent !important;
}

.card-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.card-body {
    width: 80%;
}

/* Oculta el botón por defecto */
.boton-cerrar {
    display: none;
}

/* Muestra el botón solo en pantallas con un ancho menor a 600px */
@media (max-width: 700px) {
    .boton-cerrar {
        display: flex;
        background-color: transparent;
        border: none;
        color: #171819;
        position: absolute;
        top: 5rem;
        right: 1.5rem;
        font-size: 1.3rem;
        outline: none;
    }

    .boton-cerrar:active {
        color: #f13a11;
    }

    .boton-cerrar:focus {
        border: none;
        outline: none;
    }
}

.card-text {
    font-size: 1rem;
}


.informacion {
    padding-top: 3rem;
    width: 100%;
    height: 100vh;
    display: block;
    background: #232527d7;
}

#informacion {
    top: 0;
    right: 0;
}

#listaAulas {
    height: 100vh;
    margin-top: 10rem;
    top: 0;
    left: 0;
}

@media (max-width: 600px) {
    #listaAulas {
        margin-top: 3rem;
    }
}

#lista {
    max-height: 60vh;
    background: #232527d7;
    overflow: hidden;
}

#canvas-container {
    transition: transform 1s;
}

.imagen {
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.btnnav {
    background: var(--primary-color);
    border-radius: var(--border-radius-small);
    color: var(--white-color);
    white-space: nowrap;
    transition: all 0.3s ease;
}

.btnnav:hover {
    color: var(--primary-color);
}

.btnnav:focus {
    box-shadow: none;
}

.btnnav.bordered:hover,
.btnnav.bordered:focus,
.btnnav.bg-color:hover,
.btnnav.bg-color:focus {
    background: var(--white-color);
    border-color: transparent;
    color: var(--primary-color);
}

.horario {
    height: 100vh;
}

.botonLista {
    cursor: pointer;
    outline: none;

}

.botonLista:hover {
    background: var(--white-color);
}

.btnnav.bordered:focus {
    background-color: var(--primary-color);
}

.btndesplazamiento {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

.btndesplazamiento:active {
    outline: none;
    background-color: #f13a11;
}

.btndesplazamiento:focus {
    outline: none;
}

.data {
    font-size: 1rem;
}