/* Interest Points */

.point {
    position: absolute;
    pointer-events: none;
  }
  
  .point .label {
    position: absolute;
    color: #041676;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    font-size: 32px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s;
    pointer-events: all;
    /* Prevent selection */
    -webkit-user-drag: none;
    user-select: none;
  }
  
  .point:hover .label {
    scale: 1.2;
  }
  
  .point.visible .label {
    opacity: 1;
  }
  
  .icn {
    width: 1rem;
    height: 1rem;
  }