/* Interest Points */

.point {
  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: center;
}

.point .label {
  position: absolute;
  color: #041676;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 40px;
  font-weight: 100;
  font-size: 32px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
  pointer-events: all;
  /* Prevent selection */
  -webkit-user-drag: none;
  user-select: none;
}

.point:hover .label {
  scale: 1.2;
}

.point.visible .label {
  opacity: 1;
}

.point .text {
  margin: 0 auto;
  padding: 15px 0px;
  color: #FFA500;
  font-size: 0.6rem;
}

.icn {
  width: 1rem;
  height: 1rem;
}

#buttonContainer1 {
  position: absolute;
  top: 100px;
  right: 30px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#buttonContainer1 button, #buttonContainer2 button, #buttonContainer3 button, #buttonContainer4 button{
  padding: 10px 20px;
  margin: 5px 0;
  background-color: #ee502d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#buttonContainer1 button:hover, #buttonContainer2 button:hover, #buttonContainer3 button:hover, #buttonContainer4 button:hover {
  background-color: #F13A12;
}

#buttonContainer2 {
  position: absolute;
  top: 150px;
  right: 30px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#buttonContainer3 {
  position: absolute;
  top: 200px;
  right: 30px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#buttonContainer4 {
  position: absolute;
  top: 250px;
  right: 30px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
